.page .back-cover-close {
  margin-top: 200px;
  text-align: center; }
  .page .back-cover-close a, .page .back-cover-close a:visited {
    color: orange; }

.page .back-cover-close p, .page .back-cover-text p {
  color: #fff;
  font-family: 'Scala Sans', Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 1.3em;
  margin: 25px 0 0;
  text-indent: 0; }
  .page .back-cover-close p + p, .page .back-cover-text p + p {
    margin-top: 25px; }

.page .back-cover-diamond {
  background-image: url(../images/cover-diamond.png);
  background-size: 280px;
  background-repeat: no-repeat;
  position: absolute;
  left: 90px;
  top: 110px;
  width: 280px;
  height: 8px; }

.page .back-cover-header {
  color: #ff2a1a;
  font-family: modesto-condensed, serif;
  font-size: 64px;
  font-variant: small-caps;
  line-height: 1em;
  text-align: center;
  text-shadow: 1px 1px 2px #000000, -1px 1px 2px #000000, 1px -1px 2px #000000, -1px -1px 2px #000000; }

.page .back-cover-image {
  position: absolute;
  height: 1066px;
  left: 0;
  top: 0;
  width: 475px;
  background-image: url(../images/back-cover.png);
  background-size: 475px 1066px;
  z-index: -1; }

.page .back-cover-logo {
  background-image: url(https://cdn.discordapp.com/emojis/616473064523300874.png?v=1);
  background-size: 74px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 165px;
  bottom: 95px;
  width: 120px;
  height: 74px; }

.page .cover-diamond {
  background-image: url(../images/cover-diamond.png);
  background-size: 400px;
  background-repeat: no-repeat;
  position: absolute;
  left: 210px;
  top: 115px;
  width: 400px;
  height: 12px; }

.page .cover-footer {
  position: absolute;
  font-family: ScalySans;
  font-size: 20px;
  color: white;
  bottom: 50px;
  right: 55px;
  width: 700px;
  text-shadow: 1px 1px 2px #000000, -1px 1px 2px #000000, 1px -1px 2px #000000, -1px -1px 2px #000000;
  filter: opacity(100%);
  text-align: center; }

.page .cover-header {
  position: absolute;
  font-family: modesto-condensed, serif;
  transform: scale(2, 2) !important;
  font-weight: normal;
  font-size: 36px;
  color: white;
  width: 700px;
  text-shadow: 1px 1px 2px #000000, -1px 1px 2px #000000, 1px -1px 2px #000000, -1px -1px 2px #000000;
  transform: scaleY(3) scaleX(1);
  text-transform: uppercase;
  letter-spacing: -1px;
  top: 65px;
  text-align: center; }

.page .cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 824px; }

.page .cover-splotch {
  background-image: url(../images/cover-splotch.png);
  background-size: 350px;
  position: absolute;
  left: 0;
  bottom: 180px;
  width: 345px;
  height: 56px; }
