@import url("https://use.typekit.net/htj6ghe.css");
@font-face {
  font-family: 'Bookmania';
  src: url("fonts/bookmania_regular-webfont.woff2") format("woff2"), url("fonts/bookmania_regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Bookmania Bold';
  src: url("fonts/bookmania_bold-webfont.woff2") format("woff2"), url("fonts/bookmania_bold-webfont.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'Bookmania Italic';
  src: url("fonts/bookmania_regular_italic-webfont.woff2") format("woff2"), url("fonts/bookmania_regular_italic-webfont.woff") format("woff");
  font-style: italic, oblique; }

@font-face {
  font-family: 'Bookmania Bold Italic';
  src: url("fonts/bookmania_bold_italic-webfont.woff2") format("woff2"), url("fonts/bookmania_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic, oblique; }

@font-face {
  font-family: 'Scala Sans';
  src: url("fonts/scalasans_regular-webfont.woff2") format("woff2"), url("fonts/scalasans_regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Scala Sans Bold';
  src: url("fonts/scalasans_bold-webfont.woff2") format("woff2"), url("fonts/scalasans_bold-webfont.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'Scala Sans Italic';
  src: url("fonts/scalasans_regular_italic-webfont.woff2") format("woff2"), url("fonts/scalasans_regular_italic-webfont.woff") format("woff");
  font-style: italic, oblique; }

@font-face {
  font-family: 'Scala Sans Bold Italic';
  src: url("fonts/scalasans_bold_italic-webfont.woff2") format("woff2"), url("fonts/scalasans_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic, oblique; }

@font-face {
  font-family: 'Scala Sans Caps';
  src: url("fonts/scalasans-caps_regular-webfont.woff2") format("woff2"), url("fonts/scalasans-caps_regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Scala Sans Caps Bold';
  src: url("fonts/scalasans-caps_bold-webfont.woff2") format("woff2"), url("fonts/scalasans-caps_bold-webfont.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'Scala Sans Caps Italic';
  src: url("fonts/scalasans-caps_regular_italic-webfont.woff2") format("woff2"), url("fonts/scalasans-caps_regular_italic-webfont.woff") format("woff");
  font-style: italic, oblique; }

@font-face {
  font-family: 'Scala Sans Caps Bold Italic';
  src: url("fonts/scalasans-caps_bold_italic-webfont.woff2") format("woff2"), url("fonts/scalasans-caps_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic, oblique; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #333;
  scroll-behavior: smooth; }

.document {
  background: #333;
  margin: 0 auto;
  position: relative;
  width: 21.59cm; }
  .document > nav.table-of-contents {
    z-index: 2147483647;
    background: saddlebrown;
    min-height: 1cm;
    min-width: 0.5cm;
    position: fixed;
    margin-top: 1cm;
    margin-left: -6px;
    max-width: 8cm; }
    .document > nav.table-of-contents:before, .document > nav.table-of-contents:after {
      content: "";
      position: absolute; }
    .document > nav.table-of-contents:before {
      height: 0;
      width: 0;
      border-bottom: 6px solid #48240a;
      border-left: 6px solid transparent;
      left: 0;
      top: -6px; }
    .document > nav.table-of-contents:after {
      height: 0;
      width: 0;
      border-top: 0.5cm solid saddlebrown;
      border-bottom: 0.5cm solid saddlebrown;
      border-right: 0.5cm solid transparent;
      top: 0px;
      right: -0.5cm; }
    .document > nav.table-of-contents a, .document > nav.table-of-contents a:visited {
      color: tan;
      text-decoration: none; }
    .document > nav.table-of-contents li {
      display: block; }
      .document > nav.table-of-contents li span {
        display: none; }
    .document > nav.table-of-contents ol, .document > nav.table-of-contents li {
      text-indent: 0;
      margin: 0;
      padding: 0; }
    .document > nav.table-of-contents ol {
      padding-left: 5mm; }
    .document > nav.table-of-contents > ol {
      border: 2px dashed #753a10;
      display: none;
      color: tan;
      padding: 5px; }
    .document > nav.table-of-contents ol > li > ol > li > ol > li > ol {
      display: none; }
    .document > nav.table-of-contents:hover, .document > nav.table-of-contents:active {
      box-shadow: 1px 4px 14px #000;
      padding: 2mm; }
      .document > nav.table-of-contents:hover > ol, .document > nav.table-of-contents:active > ol {
        display: block; }
      .document > nav.table-of-contents:hover:after, .document > nav.table-of-contents:active:after {
        display: none; }
  .document .page {
    color: #000;
    column-count: 2;
    column-fill: auto;
    column-gap: 1cm;
    column-width: 8cm;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-width: 8cm;
    -moz-column-width: 8cm;
    -webkit-column-gap: 1cm;
    -moz-column-gap: 1cm;
    counter-increment: page-numbers;
    position: relative;
    z-index: 15;
    overflow: hidden;
    height: 27.94cm;
    padding: 1cm 1.5cm;
    padding-bottom: 1.5cm;
    background-color: #FFF;
    background-image: tbd;
    font-family: 'Bookmania', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 8.7pt;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
    page-break-before: always;
    page-break-after: always;
    box-shadow: 1px 4px 14px #000; }
    .document .page em {
      font-family: 'Bookmania Italic', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: normal;
      font-style: italic; }
      .document .page em strong {
        font-family: 'Bookmania Bold Italic', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        font-style: italic; }
    .document .page strong {
      font-family: 'Bookmania Bold', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      font-style: normal; }
    .document .page + .page {
      margin-top: 0.5cm; }
    .document .page .classTable {
      margin-top: 25px;
      margin-bottom: 40px;
      border-collapse: separate;
      background-color: white;
      border: initial;
      border-style: solid;
      border-image-outset: 25px 17px;
      border-image-repeat: stretch;
      border-image-slice: 150 200 150 200;
      border-image-source: url(../images/table-border.png);
      border-image-width: 47px; }
    .document .page .column-break {
      break-after: always;
      -webkit-column-break-after: always;
      -moz-column-break-after: always; }
      .document .page .column-break + p {
        text-indent: 0; }
    .document .page .footnote {
      border-bottom: 1px solid black;
      position: absolute;
      bottom: 37px;
      width: 40%;
      font-size: .8em; }
    .document .page .pageNumber {
      position: absolute;
      bottom: 29px;
      width: 48px;
      text-align: center;
      color: black;
      font-size: 10pt;
      font-weight: 1000; }
      .document .page .pageNumber::after {
        content: counter(page-numbers); }
    .document .page:nth-child(even) .footnote {
      left: 80px;
      text-align: left; }
    .document .page:nth-child(even) .pageNumber {
      left: 17px; }
    .document .page:nth-child(odd) .footnote {
      right: 80px;
      text-align: right; }
    .document .page:nth-child(odd) .pageNumber {
      right: 17px; }
    .document .page .spellList {
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-span: all;
      -webkit-column-span: all;
      -moz-column-span: all; }
    .document .page .wide {
      column-span: all;
      -webkit-column-span: all;
      -moz-column-span: all; }
    .document .page blockquote {
      background-color: #e6e6e6;
      break-inside: avoid;
      -webkit-break-inside: avoid;
      -moz-break-inside: avoid;
      border-left-color: whitesmoke;
      border-style: solid;
      border-width: 5px;
      border-image: url(../images/note-wrap.png) 11;
      border-image-outset: 5px 0px;
      box-shadow: 0px 1px 5px;
      font-family: Calibri;
      font-size: 10pt;
      margin: 9px 0 13px;
      overflow: hidden;
      padding: 5px 5px; }
      .document .page blockquote h1, .document .page blockquote h2, .document .page blockquote h3, .document .page blockquote h4, .document .page blockquote h5 {
        font-family: 'Scala Sans'; }
      .document .page blockquote h1, .document .page blockquote h2, .document .page blockquote h3, .document .page blockquote h4, .document .page blockquote h5 {
        margin-top: 0; }
      .document .page blockquote p {
        margin-top: 0;
        line-height: 1.1em;
        text-indent: 0;
        margin-bottom: 7px; }
        .document .page blockquote p + p {
          margin-top: 0; }
      .document .page blockquote ul {
        padding-left: 1em;
        margin-bottom: 0; }
    .document .page h1, .document .page h2, .document .page h3, .document .page h4, .document .page h5 {
      font-weight: normal;
      margin: 0;
      padding: 0;
      margin-top: 2mm;
      line-height: 1.1; }
      .document .page h1 + p, .document .page h2 + p, .document .page h3 + p, .document .page h4 + p, .document .page h5 + p {
        text-indent: 0; }
    .document .page h1, .document .page h2, .document .page h3, .document .page h4 {
      font-family: mrs-eaves, serif;
      font-weight: 700;
      font-style: normal; }
    .document .page h1 {
      column-span: all;
      -webkit-column-span: all;
      -moz-column-span: all;
      font-size: 24pt; }
    .document .page h2 {
      font-size: 21pt; }
    .document .page h3 {
      font-size: 18pt; }
    .document .page h4 {
      font-size: 14pt; }
    .document .page h2 {
      margin-bottom: .2em; }
    .document .page h3 {
      border-bottom: 1pt solid black;
      margin-bottom: .2em; }
    .document .page h5 {
      font-family: 'Scala Sans Caps';
      font-size: 10pt;
      font-weight: bold; }
    .document .page hr {
      visibility: hidden;
      margin: 0; }
      .document .page hr + blockquote {
        background: white;
        border: 3px solid #e6e6e6; }
      .document .page hr + hr + blockquote {
        column-count: 2;
        column-fill: auto;
        column-gap: 1cm;
        column-width: 7.68cm;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -webkit-column-width: 7.68cm;
        -moz-column-width: 7.68cm;
        -webkit-column-gap: 1cm;
        -moz-column-gap: 1cm;
        column-span: all;
        -webkit-column-span: all;
        -moz-column-span: all; }
      .document .page hr + ol {
        margin-top: -0.8em; }
      .document .page hr + ul {
        margin-bottom: 0.5em;
        padding-left: 1em;
        text-indent: -1em;
        list-style-type: none; }
    .document .page img {
      z-index: -1; }
    .document .page li {
      -webkit-column-break-inside: avoid;
      column-break-inside: avoid; }
    .document .page p {
      margin: 0 0 10.5px;
      text-indent: 1em; }
      .document .page p + p {
        margin-top: -0.8em; }
    .document .page ol {
      margin-bottom: .8em;
      padding-left: 1.4em;
      line-height: 1.3em;
      list-style-position: outside;
      list-style-type: decimal; }
      .document .page ol + p {
        margin-top: -0.8em; }
    .document .page ul {
      line-height: 1.3em;
      list-style-position: outside;
      list-style-type: disc;
      margin-top: 0;
      margin-bottom: 0.8em;
      padding-left: 1.4em; }
    .document .page table {
      column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      border-collapse: collapse;
      border-spacing: 0;
      font-family: 'Scala Sans', Arial, Helvetica, sans-serif;
      font-size: 10pt;
      line-height: 1.1em;
      margin-bottom: 1emm;
      overflow: hidden;
      width: 100%;
      z-index: 15; }
      .document .page table th {
        font-weight: bold; }
      .document .page table td {
        vertical-align: top; }
      .document .page table tbody tr:nth-child(odd) {
        background-color: #CCC; }
