* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #333;
  scroll-behavior: smooth; }
  body nav.table-of-contents {
    position: fixed;
    margin-top: 1cm;
    margin-left: -1cm;
    background: white;
    box-shadow: 1px 4px 14px #000;
    padding: 5mm;
    max-width: 7cm; }
    body nav.table-of-contents a, body nav.table-of-contents a:visited {
      color: blue; }
    body nav.table-of-contents ol {
      counter-reset: list-item; }
    body nav.table-of-contents li {
      display: block;
      counter-increment: list-item; }
    body nav.table-of-contents li:before {
      content: counters(list-item, ".") " "; }
    body nav.table-of-contents ol, body nav.table-of-contents li {
      text-indent: 0;
      margin: 0;
      padding: 0; }
    body nav.table-of-contents ol {
      padding-left: 5mm; }
    body nav.table-of-contents ol > li > ol > li > ol {
      display: none; }
    body nav.table-of-contents:hover {
      z-index: 2147483647; }
  body .document {
    background: #333;
    margin: 0 auto;
    position: relative;
    width: 21.59cm; }
    body .document .page {
      color: #000;
      column-count: 2;
      column-fill: auto;
      column-gap: 1cm;
      column-width: 8cm;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -webkit-column-width: 8cm;
      -moz-column-width: 8cm;
      -webkit-column-gap: 1cm;
      -moz-column-gap: 1cm;
      counter-increment: page-numbers;
      position: relative;
      z-index: 15;
      overflow: hidden;
      height: 27.94cm;
      padding: 1cm 1.5cm;
      padding-bottom: 1.5cm;
      background-color: #FFF;
      background-image: tbd;
      font-family: Cambria;
      font-size: 10pt;
      text-rendering: optimizeLegibility;
      page-break-before: always;
      page-break-after: always;
      box-shadow: 1px 4px 14px #000; }
      body .document .page + .page {
        margin-top: 0.5cm; }
      body .document .page .column-break {
        break-after: always;
        -webkit-column-break-after: always;
        -moz-column-break-after: always; }
      body .document .page blockquote {
        background-color: #e6e6e6;
        break-inside: avoid;
        -webkit-break-inside: avoid;
        -moz-break-inside: avoid;
        border-left-color: whitesmoke;
        border-style: solid;
        border-width: 5px;
        border-image: url(../images/note-wrap.png) 11;
        border-image-outset: 5px 0px;
        box-shadow: 0px 1px 5px;
        font-family: Calibri;
        font-size: 10pt;
        margin: 9px 0 13px;
        overflow: hidden;
        padding: 5px 5px; }
        body .document .page blockquote h2, body .document .page blockquote h3, body .document .page blockquote h4, body .document .page blockquote h5 {
          margin-top: 0; }
        body .document .page blockquote p {
          margin-top: 0;
          line-height: 1.1em;
          text-indent: 0;
          margin-bottom: 7px; }
          body .document .page blockquote p + p {
            margin-top: 0; }
        body .document .page blockquote ul {
          padding-left: 1em;
          margin-bottom: 0; }
      body .document .page h2, body .document .page h3, body .document .page h4, body .document .page h5 {
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: 2mm;
        line-height: 1.1; }
        body .document .page h2 + p, body .document .page h3 + p, body .document .page h4 + p, body .document .page h5 + p {
          text-indent: 0; }
      body .document .page h2 {
        font-size: 21pt; }
      body .document .page h3 {
        font-size: 18pt; }
      body .document .page h4 {
        font-size: 14pt; }
      body .document .page h2 {
        margin-bottom: .2em; }
      body .document .page h3 {
        border-bottom: 1pt solid black; }
      body .document .page hr {
        visibility: hidden;
        margin: 0; }
        body .document .page hr + blockquote {
          background: white;
          border: 3px solid #e6e6e6; }
        body .document .page hr + hr + blockquote {
          column-count: 2;
          column-fill: auto;
          column-gap: 1cm;
          column-width: 7.68cm;
          -webkit-column-count: 2;
          -moz-column-count: 2;
          -webkit-column-width: 7.68cm;
          -moz-column-width: 7.68cm;
          -webkit-column-gap: 1cm;
          -moz-column-gap: 1cm;
          column-span: all;
          -webkit-column-span: all;
          -moz-column-span: all; }
        body .document .page hr + ul {
          margin-bottom: 0.5em;
          padding-left: 1em;
          text-indent: -1em;
          list-style-type: none; }
      body .document .page p {
        margin: 0 0 10.5px;
        text-indent: 1em; }
        body .document .page p + p {
          margin-top: -0.8em; }
      body .document .page ul {
        line-height: 1.3em;
        list-style-position: outside;
        list-style-type: disc;
        margin-top: 0;
        margin-bottom: .8cm;
        padding-left: 1.4cm; }
      body .document .page li {
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid; }
