@import "covers";
@import "ribbon";
@import url("https://use.typekit.net/htj6ghe.css");

body {
    background: #356;
}

.sosly-forge-logo-link {
    align-items: center;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    bottom: 0.25in;
    box-shadow: 1px 4px 14px #000;
    display: flex;
    height: 35px;
    position: fixed;
    right: 0.25in;
    text-align: center;
    width: 35px;

    img {
        height: 20px;
        margin: 0 auto;
        width: 20px;
    }
}

.document {
    margin: 0.5in auto;
    position: relative;
    width: 8.5in;

    & > nav.table-of-contents {
        z-index: 2147483647;

        &:before, &:after {
            content: "";
            position: absolute;
        }

        &:before {
            @include triangle(6px, darken(saddlebrown, 15%), down-right);
            left: 0;
            top: -6px;
        }
        
        &:after {
            @include triangle(1cm 0.5cm, transparent saddlebrown, left);
            top: 0px;
            right: -0.5cm;
        }

        background: saddlebrown;
        min-height: 1cm;
        min-width: 0.5cm;

        position: fixed;
        margin-top: 1cm;
        margin-left: -6px;
        max-width: 8cm;
        a, a:visited { color: tan; text-decoration: none; }
        li { 
            display: block; 
            span { display: none; }
        }
    
        ol, li { text-indent: 0; margin: 0; padding: 0; }
        ol { padding-left: 5mm; }
    
        & > ol { 
            border: 2px dashed darken(saddlebrown, 5%);
            display: none;
            color: tan;
            padding: 5px;
        }
    
        // max depth of 3
        ol > li > ol > li > ol > li > ol { display: none; }
    
        &:hover, &:active { 
            box-shadow: 1px 4px 14px #000;
            padding: 2mm;
            & > ol { display: block; }
            &:after { display: none; }
        }
    }
}

.page {
    background: white;
    color: black;
    column-count: 2;
    column-fill: auto;
    column-gap: 0.3in;
    column-width: 3.5in;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-width: 3.5in;
    -moz-column-width: 3.5in;
    -webkit-column-gap: 0.3in;
    -moz-column-gap: 0.3in;
    counter-increment: page-numbers;
    padding: 0.5in;
    position: relative;
    z-index: 15;
    overflow: hidden;
    height: 11in;
    width: 8.5in;
    font-family: bookmania, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 10pt;
    line-height: 1.1em;
    text-rendering: optimizeLegibility;
    page-break-before: always;
    page-break-after: always;
    box-shadow: 1px 4px 14px #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a, a:visited {
        color: black;
        text-decoration: none;
    }

    & + .page { margin-top: 0.5cm; }

    .classTable {
        margin-top: 25px;
        margin-bottom: 40px;
        border-collapse: separate;
        background-color: white;
        border: initial;
        border-style: solid;
        border-image-outset: 25px 17px;
        border-image-repeat: stretch;
        border-image-slice: 150 200 150 200;
        border-image-source: url('/assets/table-border.png');
        border-image-width: 47px;
    }

    .column-break {
        break-after: always;
        -webkit-column-break-after: always;
        -moz-column-break-after: always;

        & + p {
            text-indent: 0;
        }
    }

    .descriptive {
        display: block-inline;
        margin-bottom: 1em;
        background-color: #faf7ea;
        font-family: ScalySans;
        border-style: solid;
        border-width: 7px;
        border-image: url('/assets/descriptive.png') 12 stretch;
        border-image-repeat: stretch;
        border-image-outset: 4px;
        box-shadow: 0 0 6px #faf7ea;
    }

    .footnote {
        border-bottom: 1px solid black;
        position: absolute;
        bottom: 37px;
        width: 40%;
        font-size: .8em;
    }

    .pageNumber {
        position: absolute;
        bottom: 29px;
        width: 48px;
        text-align: center;
        color: black;
        font-size: 10pt;
        font-weight: 1000;

        &::after{
            content: counter(page-numbers);
        }
    }
    &:nth-child(even) {
        .footnote {
            left: 80px;
            text-align: left;
        }
        .pageNumber { left: 17px; }
    }
    &:nth-child(odd) {
        .footnote {
            right: 80px;
            text-align: right;
        }
        .pageNumber { right: 17px; }
    }

    .spellList {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-span: all;
        -webkit-column-span: all;
        -moz-column-span: all;
    }

    .wide {
        column-span: all;
        -webkit-column-span: all;
        -moz-column-span: all;

        &.two-column {
            column-count: 2;
            column-fill: auto;
            column-gap: 1cm;
            column-width: 8cm;
            -webkit-column-count: 2;
            -moz-column-count: 2;
        }
    }

    blockquote {
        background-color: rgb(230, 230, 230);
        break-inside: avoid;
        -webkit-break-inside: avoid;
        -moz-break-inside: avoid;
        border-left-color: rgb(245, 245, 245);
        border-style: solid;
        border-width: 5px;                
        border-image: url('/assets/note-wrap.png') 11;
        border-image-outset: 5px 0px;
        box-shadow: 0px 1px 5px;
        font-family: Calibri;
        font-size: 10pt;
        
        margin: 9px 0 13px;
        overflow: hidden;
        padding: 5px 5px;

        h1, h2, h3, h4, h5 { 
            font-family: ff-scala-sans-pro, sans-serif; 
            margin-top: 0;
        }

        p {
            margin-top: 0;
            text-indent: 0;

            & + p { margin-top: 0; }
        }

        ul {
            padding-left: 1em;
            margin-bottom: 0;
        }
    }


    h1, h2, h3, h4, h5 {
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: 2mm;
        line-height: 1.1;

        & + p { text-indent: 0; }
    }
    h1, h2, h3, h4 {
        font-family: mrs-eaves, serif;
        font-weight: 700;
        font-style: normal;
    }
    h1 { 
        column-span: all;
        -webkit-column-span: all;
        -moz-column-span: all;
        font-size: 24pt; 
        margin-bottom: 0.5em;
    }
    h2 { font-size: 20pt; }
    h3 { font-size: 15pt; }
    h4 { font-size: 12pt; }

    h2 { margin-bottom: .2em; }
    h3 { color: #356; border-bottom: 1pt solid #356; margin-bottom: .2em; }
    h5 {
        font-family: ff-scala-sans-pro, sans-serif;
        font-size: 11pt;
        font-variant: small-caps;
        font-weight: bold;
    }

    hr {
        visibility: hidden;
        margin: 0;
        
        & + blockquote {                
            background: white;
            border: 3px solid #e6e6e6;
        }

        & + hr + blockquote {
            column-count: 2;
            column-fill: auto;
            column-gap: 1cm;
            column-width: 7.68cm;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            -webkit-column-width: 7.68cm;
            -moz-column-width: 7.68cm;
            -webkit-column-gap: 1cm;
            -moz-column-gap: 1cm;
            column-span: all;
            -webkit-column-span: all;
            -moz-column-span: all;
        }

        & + ul {
            margin-bottom: 0.5em;
            padding-left: 1em;
            text-indent: -1em;
            list-style-type: none;
        }
    }

    img {
        z-index: -1;
    }
    
    li {
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid;
    }

    p {
        margin: 0 0 10.5px;
        text-indent: 1em;

        & + p, & + ul, & + ol { margin-top: -0.8em; }
        img {
            max-width: 100%;
        }
    }
    & > p:first-of-type { text-indent: 0; }

    ol {
        margin-bottom: .8em;
        padding-left: 1.4em;
        line-height: 1.3em;
        list-style-position: outside;
        list-style-type: decimal;
        & + p { margin-top: -0.8em; }
    }

    ul {
        line-height: 1.3em;
        list-style-position: outside;
        list-style-type: disc;
        margin-top: 0;
        margin-bottom: 0.8em;
        padding-left: 1.4em;
    }

    table {
        column-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        border-collapse: collapse;
        border-spacing: 0;
        font-family: ff-scala-sans-pro, sans-serif;
        line-height: 1.2em;
        margin-bottom: 1em;
        overflow: hidden;
        width: 100%;
        z-index: 15;

        th { font-weight: bold; }
        td { vertical-align: top; }

        tbody tr:nth-child(odd) { background-color: #CCC; }
    }
}
