@font-face {
    font-family: 'Bookmania';
    src: url('fonts/bookmania_regular-webfont.woff2') format('woff2'),
         url('fonts/bookmania_regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Bookmania Bold';
    src: url('fonts/bookmania_bold-webfont.woff2') format('woff2'),
         url('fonts/bookmania_bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Bookmania Italic';
    src: url('fonts/bookmania_regular_italic-webfont.woff2') format('woff2'),
         url('fonts/bookmania_regular_italic-webfont.woff') format('woff');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Bookmania Bold Italic';
    src: url('fonts/bookmania_bold_italic-webfont.woff2') format('woff2'),
         url('fonts/bookmania_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}
