@font-face {
    font-family: 'Scala Sans Caps';
    src: url('fonts/scalasans-caps_regular-webfont.woff2') format('woff2'),
         url('fonts/scalasans-caps_regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Scala Sans Caps Bold';
    src: url('fonts/scalasans-caps_bold-webfont.woff2') format('woff2'),
         url('fonts/scalasans-caps_bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Scala Sans Caps Italic';
    src: url('fonts/scalasans-caps_regular_italic-webfont.woff2') format('woff2'),
         url('fonts/scalasans-caps_regular_italic-webfont.woff') format('woff');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Scala Sans Caps Bold Italic';
    src: url('fonts/scalasans-caps_bold_italic-webfont.woff2') format('woff2'),
         url('fonts/scalasans-caps_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}
